sso-gateway/src/main/resources/mx-com-gunix-redis-passwordmgr.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='urn:mx:com:gunix:redis:passwordmgr'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='urn:mx:com:gunix:redis:passwordmgr'>

  <!-- element for type: mx.com.gunix.framework.josso.selfservices.password.lostpassword.SerializableStateSimpleLostPasswordProcess -->
  <xs:element name='lostpassword-process'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='credentialProvider' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='idGenerator' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='identityManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='passwordDistributor' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='passwordGenerator' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='challengeId' type='xs:string'/>
      <xs:attribute name='challengeText' type='xs:string'/>
      <xs:attribute name='credentialProvider' type='xs:string'/>
      <xs:attribute name='idGenerator' type='xs:string'/>
      <xs:attribute name='identityManager' type='xs:string'/>
      <xs:attribute name='maxTimeToLive' type='xs:integer'/>
      <xs:attribute name='name' type='xs:string'/>
      <xs:attribute name='passwordDistributor' type='xs:string'/>
      <xs:attribute name='passwordGenerator' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: mx.com.gunix.framework.josso.selfservices.password.PasswordManagementServiceGunixImpl -->
  <xs:element name='password-manager'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='password-management-running-processes' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='process-id-generator' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='processIdGenerator' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='processes' minOccurs='0' maxOccurs='unbounded'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='prototypeProcesses' minOccurs='0' maxOccurs='unbounded'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='password-management-running-processes' type='xs:string'/>
      <xs:attribute name='process-id-generator' type='xs:string'/>
      <xs:attribute name='processIdGenerator' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
